DW_E0_vs_b.pdf
DW_training_excited.pdf
DW_training.pdf
HO.pdf
HO_training_excited.pdf
HO_training.pdf
H_training_excited.pdf
H_training.pdf
notebook1_figs.ipynb
notebook2_figs.ipynb
notebook3_figs.ipynb
.ipynb_checkpoints
